<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Layout</title>
</head>
<body class="w3-container">
    <!--Shared header bar-->
    <header class="w3-container">
        <h1>...A Bit About Commercial Aircrafts (STATS)</h1>

    </header>
    <!--Shared nav bar-->
    <ul class="topnav">
        <li><a href="/" class="active">Home</a></li>
        <li class="meh"><a href="https://media.tenor.com/uRElz56N3AsAAAAe/warning-the-lorax.png">Nothing</a></li>
        <li class="meh"><a href="https://media.makeameme.org/created/i-told-you-2496fe5709.jpg">Here</a></li>
        <li class="meh"><a href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIPfNiQlBEqNlqLNwIflQ2ymFJwwYAocmn2A&s">For Now</a></li>
        <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">damn you</a>
            <div class="dropdown-content">
                <a href="#">still</a>
                <a href="#">nothing</a>
                <a href="#">here</a>
            </div>
        </li>
    </ul>

{% block body %}

{% endblock %}
    
</body>
</html>